<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head th:replace="layout/layout :: head"> </head>
<body>
        
    <header th:replace="layout/layout :: header"></header>
    
    <div class="container py-4">

        <div class="card bg-dark text-white mt-3">

            <div class="card-header" th:text="${title}"></div>
            
            <div class="card-body">
                
                <div th:object="${customer}" th:remove="tag">
                    <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                        <li class="ms-3" th:each="error : ${#fields.errors('*')}" th:text="${error}"></li>
                    </ul>
                </div>
                
                <form th:action="@{/form}" th:object="${customer}" method="POST">
                    
                    <!-- El id del cliente no se manda porque la base de datos lo asigna automaticamente -->
    
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input 
                        type="text"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        name="email"
                        th:errorclass="'alert-danger'"
                        th:value="${customer.email}"
                        placeholder="E-mail"
                        >
                        <div id="emailHelp" class="form-text text-white">We'll never share your email with anyone else.</div>
                        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Name</label>
                        <input 
                        type="text"
                        class="form-control"
                        id="exampleInputName"
                        aria-describedby="nameHelp"
                        name="name"
                        th:errorclass="'alert-danger'"
                        th:value="${customer.name}"
                        placeholder="Nombre(s)"
                        >
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName" class="form-label">Last Name</label>
                        <input 
                        type="text"
                        class="form-control"
                        id="exampleInputLastName"
                        aria-describedby="lastNameHelp"
                        name="lastName"
                        th:errorclass="'alert-danger'"
                        th:value="${customer.lastName}"
                        placeholder="Apellido(s)"
                        >
                        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="form-text text-danger"></small>
                    </div>
    
                <input type="hidden" th:field="*{id}">
                <!-- <input type="hidden" th:if="${customer.createdAt != null}" th:field="*{createdAt}"> -->
                
                
                <div class="pt-1">
                    <button type="submit" class="btn btn-secondary" th:text="${txtButton}"></button>
                </div>
            </form>
        </div>
        
    </div>

    <footer th:replace="layout/layout :: footer"></footer>

</body>
</html>